body,html {
    font-family: Verdana, Geneva, sans-serif; 
    -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;background:#fff;         
    height:100%;line-height:1;margin:0;padding:0;text-rendering:optimizeLegibility;width:100%;
    font-size:100%;
}

a{color:#3498db;}

#LoadingScreen { display:block; width:100%; height:100%; position:relative;}

#LoadingScreen div { position:relative; top:20%;  font-size: 180%; text-align:center; margin: 0 auto 0 auto; width:150px;}
#LoadingScreen img { display:block; padding-top:10px; margin: 0 auto 0 auto;}
.logoGreen { color:rgba(114, 191, 68, 1);}
.logoBlue {color:rgba(28, 129, 197, 1);}
#Search { display:none;/**until loaded*/}
#Results {display:none;}
.CriteriaName {
    text-align: center;
    color: white;
    background-color: #2EA3F2;
    font-family: Verdana, Geneva, sans-serif; 
    vertical-align:middle; 
    font-size:190%;
    padding:15px;
}

.slider > div img {
    margin-left: auto;
    margin-right:auto;
}
.slider > div {  text-align:center; font-size:80%;}
.slick-slide .image{padding:10px;}
.slick-slide img{border:5px solid #FFF;display:block;width:100%;}
.slick-slide img.slick-loading{border:0 }
.slick-slider{margin:5%; margin-top: 1%;}
.slick-center > img {
    border-color:orange;
    border-radius:10px;
}

#ResultsCount {
    cursor: pointer;
    font-family: Verdana, Geneva, sans-serif;
}

/** Result Listing Styles */

.ResultList > div {
    background-color: white;
    width: 100%;
    padding: 1%;
    color: blue;
}

.ResultList > div {}
#ResultList .panel-body {    background-color:#F2F2F2;}
#ResultList th{ font-size:170%;}
#ResultList .resultsTable { font-size:170%}
#BackButton { cursor:pointer;}

/** Bootstrap Overrides*/
.container-fluid { padding:0px;}
.navbar {min-height:20px;}

/** Media Query Rules*/

/* NOTE: Often times 1 CSS pixel is not equal to 1 device hardware pixel. Its usually more like 1CSS = 1.5+ device pixels*/
/* Ex) A device that has 700 hardware pixels of width may only offer 350 CSS pixels to the browser.*/
/* The viewport is set to the device width with no default zoom so the page will start with a layout equal to the device's max css pixel width*/
/* Our images have been uploaded at 120 pixels. Do not upscale them. They should render larger now that viewport has been setup.*/
/* TODO: Reduce icon sizes to 100px. 120px images are really too large for this application. 
    Even in a PC browser 120 sliders stacked are too tall for a window without scrollbars.
    This would help the page load faster too.
*/
/*Very tiny or low rez screens: At or below 590*/
/* Checking device or viewport in case of small PC window*/
@media (max-device-height:500px) , (max-height:500px) {
    .slider > div img {
        width: 60px; height:60px;
    }
    .CriteriaName{font-size:140%;padding:6px;}
    .slick-prev, .slick-next {display:none !important;}
    body, html { font-size:80%; /*background-color:blue;*/}
}

/*At least 560*/
/*checking device AND viewport in case of PC window*/
@media (min-device-height:500px) and (min-height:500px) {
    .slider > div img {
        width: 70px; height:70px;
    }
    .CriteriaName{font-size:160%;padding:8px;}
    body, html { font-size:100%; /*background-color:green;*/}
}

/**At least 850*/
@media (min-device-height:850px) and (min-height:850px){
    .slider > div img {
        width: 100px; height:100px;
    }
    .CriteriaName{font-size:190%;padding:15px;}
     body, html { font-size:100%; /*background-color:red;*/}
}

@media (min-width:1000px) {
    /*Force bootstrap to use fixed width for very large screens*/
    .container-fluid {width:700px; margin:0 auto 0 auto;}
}




