/* Move down content because we have a fixed navbar that is 50px tall */
body {
    background-color  :#2EA3F2;
    font-family: 'Open Sans', Arial, sans-serif;
    height: 100%;
}

/* Centered Name */
/* Set some basic padding to keep content from hitting the edges */
.CriteriaName {
    text-align: center;
    color: white;
    background-color: #81D742;

}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 10%;
}


@font-face {
  src: url('pacifico.eot');
  src: url('pacifico.eot?#iefix') format('embedded-opentype'),
       url('pacifico.woff') format('woff'),
       url('pacifico.ttf') format('truetype'),
       url('pacifico.svg#Pacifico') format('svg');
}


.slider > div img {
    width: 131.5px;
    margin-left: auto;
    margin-right:auto;
}

.slider > div {
    text-align:center;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.slick-center > img {
    border-color:orange;
}

.ResultList > div {
    background-color: white;
    width: 100%;
    padding: 1%;
    font-size: 2em;
    color: blue;
}

.ResultList > span {
    float: right;
}
